.main-education{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-top: 20px;
    height: 85%; 
    width: 78%;
    border: 1px solid #d69f9f;
    padding: 20px;
    max-width: 1100px;
    max-height: 900px;
    border-radius: 8px;
}

.long-line {
    width: 80%; 
    margin: 0 auto;
    border: 5px solid transparent;
    color: black;
}

.row-education {
  display: grid;
  grid-template-columns: auto 5fr; 
  display: flex;
}

.left-side {
  flex: 0 0 auto; 
}

.right-side {
  flex: 3; 
  margin-left: 20px;
}

.approval-status{
  flex: 3; 
  margin-left: 90px;
  margin-top: 10px;
}

.main-education-btn{
  height: 50px;
  width: 100px;
  margin-left: 500px;
  margin-top: 0px;  
}




.main-btn{
  margin-left: 15px;
  margin-top: 240px;
  padding: 10px 100px;
  background-color: #9F4848; 
  color: white; 
  border: none; 
  cursor: pointer;
}

