/* SideBar */
.sidebar{
    position: absolute;
    background-color: #9F4848; 
    color: white;
    top: 55px;
    left: 0;
    height: 100%;
    width: 220px;
    padding-top: 40px;
 
 } 
 
 .sidebar li{
     list-style: none;
     padding: 1rem 2rem;
     display: flex;
     gap: 1rem;
     font-weight: 300;
     border-bottom: black;
     align-items: center;
 
 }
 .sidebar li:hover{
     background-color: #923737;
     color: rgb(0, 0, 0);
 }
 
 .sidebar .textName:hover{
     background-color: #923737;
     color: rgb(0, 0, 0);
 }
 
 .textName{
     color: rgb(255, 255, 255);
     font-weight: 600;
 }