/* .main-box {
    border: 2px solid #ccc;
    padding: 20px; 
}  */

.form-control {
    width: 100%; 
    padding: 8px; 
    box-sizing: border-box; 
}

.form-row {
    margin-top: 10px; 
}

.btn {
   
    margin-right: 15px; 
}

.btn-primary {
    background-color: blue; 
    color: white; 
    padding: 10px 15px;
    border: none; 
    cursor: pointer;
}
