/* .navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }

  .navbar .logo img{
    width: 0.2px;
  }


.main-box {
  width: 60%;
  margin: 80px auto 40px;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
} */

/* .row{padding-top: 20px;} */
